@font-face {
  font-family: architects;
  src: url('../font/ArchitectsDaughter.ttf');
}
@font-face {
  font-family: FiraMono;
  src: url('../font/FiraMono-Regular.ttf');
}
/*内容区*/
#article-container{
  font-size: 15px;
}
#footer{
  font-family: architects;
}